:root {
    --primary-color: #b51c33;
    --xanh: #002666;
    --xanhbien: #29abe2;
    --xam: #4d4d4d;
}


/*Section1 */

.section1-congtrinh {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.img-section1 {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}


/*Section 2*/

.section2-congtrinh {
    max-width: 1000px;
    margin: 0 auto;
}

.congtrinh-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.slideshow-congtrinh {
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}

.title-congtrinh {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 40px;
}

.slideshow-congtrinh {
    background-image: url(../images/build_bg_log_1.png);
    width: 360px;
    margin: 0 auto;
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30%;
}

.image-congtrinh img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.card-thongtin {
    flex: 1 1 50%;
    padding: 10px;
    display: flex;
    flex-direction: row;
}

.content-thongtin {
    position: relative;
    text-align: justify;
    width: 300px;
    font-size: 0.9em;
    z-index: 1;
    padding-left: 10px;
    top: -30px;
}

.content-thongtin::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url(../images/build_bg_log_1.png);
    background-size: 50%;
    background-position: right bottom;
    background-repeat: no-repeat;
    z-index: -1;
    transform: scaleX(-1);
    display: none;
}

.title-highlight {
    font-size: 1.5em;
    color: var(--xam);
}

.highlight {
    color: var(--xanhbien);
    font-size: 1.2em;
}

.read-more {
    color: var(--primary-color);
    font-style: italic;
    font-size: 1em;
    padding-top: 15px;
}

.circle {
    background-color: var(--primary-color);
    color: white;
    padding: 20px 20px;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    font-size: 0.8em;
}

#text-cardsct2 {
    padding-bottom: 10px;
}


/*Section 3*/

.congtrinh-tieubieu {
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
    display: flex;
}

.img-sct3 {
    display: none;
}

.title-section3 {
    text-align: center;
    color: var(--xanh);
    font-size: 1.3em;
    padding-top: 50px;
    margin-bottom: 40px;
}

.cardsct3-container {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
}

.cardsct3 {
    width: 300px;
    font-family: Arial, sans-serif;
}

.cardsct3-img img {
    width: 100%;
    display: block;
    margin: 0;
    padding: 0;
    border: none;
    height: auto;
    object-fit: cover;
}

.card-content {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1em;
}

.read-more-btn .circle-sct3 {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 0.8em;
    text-align: center;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

#text-card {
    color: black;
    text-align: left;
    font-weight: bold;
}

.box {
    margin-top: 20px;
    background-color: var(--primary-color);
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: none;
}

.line-card {
    width: 2px;
    height: 30px;
    background-color: var(--primary-color);
    margin: 10px;
}


/*Section4*/

.title-sct4 {
    color: var(--xanh);
    text-align: center;
    padding-top: 50px;
    padding-bottom: 40px;
}

.cardsct4-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    padding-bottom: 50px;
}

.cardsct4 {
    background-color: #ffffff;
    width: 330px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.content-cardsct4 {
    width: 250px;
}

.img-sct4 {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.title-icon {
    display: none;
}

#text-cardsct4 {
    font-size: 1.3em;
    font-weight: bold;
    color: var(--xanhbien);
    margin-bottom: 10px;
}

#textphu-cardsct4 {
    font-size: 14px;
    color: black;
    line-height: 1.6;
    font-weight: bold;
}

.icon-right {
    display: none;
}


/*Section5*/

.section5-congtrinh {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

.img-chat {
    width: 70px;
    height: 70px;
    cursor: pointer;
    background-color: white;
    border-radius: 50%;
}

@media (min-width:576px) {
    .cardsct3 {
        width: 550px;
    }
    .cardsct4 {
        width: 530px;
    }
    .content-thongtin {
        width: unset;
    }
    .content-cardsct4 {
        width: unset;
    }
}

@media (min-width: 768px) {
    .slideshow-congtrinh {
        max-width: 700px;
    }
    .card-thongtin {
        max-width: 700px;
    }
    .cardsct3 {
        width: 650px;
    }
    .cardsct4 {
        width: 650px;
    }
}

@media (min-width: 996px) {
    .slideshow-congtrinh {
        max-width: 350px;
        flex: 1 1 40%;
        display: flex;
        flex-direction: column;
        padding: unset;
    }
    .card-thongtin {
        max-width: 500px;
        padding-top: 120px;
    }
    .cardsct3 {
        width: 400px;
    }
    .section4-congtrinh {
        padding-top: 100px;
    }
    .title-sct4 {
        display: none;
    }
    .title-icon {
        display: flex;
        flex-direction: row;
    }
    .phu {
        display: flex;
    }
    .cardsct4-container {
        gap: 50px;
    }
    .cardsct4 {
        width: 400px;
    }
    .cardsct4 #card-phu {
        display: flex;
        flex-direction: row;
    }
    .card-body {
        padding-left: 40px;
        padding-top: 50px;
    }
    .title-sct4 {
        padding-top: unset;
        padding-bottom: unset;
    }
    .content-cardsct4 {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }
    .content-cardsct4 svg {
        background-color: var(--primary-color);
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        box-sizing: border-box;
        margin: 20px;
    }
}

@media (min-width: 1024px) {
    .img-sct4 {
        display: block;
    }
    .slideshow-congtrinh {
        max-width: 500px;
    }
    .content-thongtin::before {
        display: block;
    }
}

@media (min-width: 1200px) {
    .cardsct3 {
        width: 270px;
        border: none;
        box-shadow: unset;
        gap: 10px;
    }
    .card-sct31 {
        padding-top: 170px;
    }
    .card-sct32 {
        padding-top: 200px;
    }
}

@media (min-width: 1300px) {
    .cardsct3 {
        width: 290px;
    }
    .cardsct3-img img {
        position: relative;
    }
    .card-content {
        width: 260px;
        position: absolute;
        margin-top: -50px;
        background-color: white;
    }
}

@media (min-width: 1400px) {
    .cardsct3 {
        width: 300px;
    }
    .card-content {
        width: 280px;
    }
}

@media (min-width: 1500px) {
    .cardsct3 {
        width: 340px;
    }
    .card-content {
        width: 300px;
    }
}

@media (min-width: 1920px) {
    .cardsct3 {
        width: 420px;
    }
}