    /* Phần chính của section */
    
    .support-sct1 {
        background-image: url(../images/bg_sp.png);
        padding: 70px 0;
        text-align: center;
        margin: 0 auto;
        width: 100%;
    }
    /* Tiêu đề */
    
    .titlesp-sct1 h2 {
        font-size: 1.8em;
        color: white;
        margin-bottom: 20px;
        font-weight: 600;
    }
    /* Ô tìm kiếm */
    
    .search-sp {
        display: flex;
        justify-content: center;
    }
    
    .input-sp-sear {
        width: 100%;
        max-width: 500px;
        border: 2px solid #ccc;
        border-radius: 8px;
        font-size: 1.6em;
        transition: all 0.3s ease;
        outline: none;
    }
    
    .input-sp-sear:focus {
        border-color: #0066cc;
        box-shadow: 0 0 5px rgba(0, 102, 204, 0.4);
    }
    
    .search-input-wrapper {
        position: relative;
        width: 100%;
        max-width: 500px;
    }
    
    .search-icon {
        position: absolute;
        left: 7%;
        padding: 10px;
        font-size: 1.4em;
        color: rgb(97, 93, 93);
        pointer-events: none;
    }
    
    .input-sp-sear {
        width: 75%;
        padding: 12px 16px 12px 40px;
        border: 2px solid #ccc;
        border-radius: 8px;
        font-size: 1em;
        transition: all 0.3s ease;
        outline: none;
    }
    
    .input-sp-sear:focus {
        border-color: #0066cc;
        box-shadow: 0 0 5px rgba(0, 102, 204, 0.3);
    }
    
     ::placeholder {
        color: rgb(97, 93, 93);
        font-weight: bold;
        font-size: 0.8em;
    }
    /*Section2*/
    
    .support-sct2 {
        padding: 40px 10px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
        margin: 0 auto;
        max-width: 1200px;
    }
    
    .spcard-container {
        max-width: 1200px;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 40px;
    }
    
    .sp-card {
        background: white;
        border-radius: 8px;
        box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        width: 350px;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        text-align: center;
    }
    
    .img-spcard {
        padding-top: 15px;
        width: 20%;
        height: auto;
        object-fit: cover;
    }
    
    #body-card {
        font-size: 18px;
        font-weight: 600;
        color: #333;
    }
    /*Section 3*/
    
    .support-sct3-card {
        background-image: url(../images/build_bg_log_1.png);
        background-size: 70%;
        background-position: center;
        background-repeat: no-repeat;
        margin-bottom: 20px;
    }
    
    .support-sct3 {
        display: flex;
        flex-direction: column;
        max-width: 1000px;
        margin: auto;
    }
    
    .sp-sct3 {
        display: flex;
        flex-direction: row;
        gap: 20px;
        padding: 10px;
    }
    
    .spsct3-img {
        width: 50px;
        height: 50px;
        object-fit: contain;
        flex-shrink: 0;
    }
    
    .body-contentsct3 {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    #contentsp-sct3-red {
        color: #d9232d;
        font-weight: bold;
        font-size: 1.1rem;
        margin-top: 10px;
    }
    
    #contentsp-sct3-black {
        color: #333;
        font-size: 1rem;
        margin: 0;
    }
    
    .content-title-chinh {
        font-size: 1.1rem;
        font-weight: bold;
        margin: 0 0 5px 0;
    }
    
    .form-container-sct4 {
        padding: 20px;
        border: 1px solid #242323;
        border-radius: 20px;
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
        background-color: #F2F2F2;
        max-width: 300px;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 50px;
    }
    
    .title-formsct4 {
        font-size: 1.3em;
        font-weight: bold;
        text-align: center;
        margin-bottom: 25px;
        color: #333;
    }
    
    .form-container-sct4 input[type="text"],
    .form-container-sct4 textarea {
        width: 100%;
        padding: 10px 4px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 8px;
        font-size: 1em;
        transition: border-color 0.3s ease;
    }
    
    .form-container-sct4 input[type="text"]:focus,
    .form-container-sct4 textarea:focus {
        border-color: #5c9ded;
        outline: none;
    }
    
    .form-container-sct4 textarea {
        height: 80px;
        resize: vertical;
    }
    
    .form-container-sct4 button {
        background-color: #BE1E2D;
        color: white;
        padding: 14px 20px;
        width: 100%;
        font-size: 16px;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
    
    .form-container-sct4 button:hover {
        background-color: #4178c0;
    }
    
    @media (min-width:576px) {
        .sp-card {
            width: 600px;
        }
        .search-icon {
            position: absolute;
            left: 9%;
        }
    }
    
    @media (min-width:740px) {
        .search-icon {
            position: absolute;
            left: 14%;
        }
    }
    
    @media (min-width:768px) {
        .sp-card {
            width: 700px;
        }
        .search-icon {
            position: absolute;
            left: 15%;
        }
        .support-sct3 {
            background-size: 35%;
            width: 700px;
        }
        .sp-sct3 {
            padding: 10px;
        }
    }
    
    @media (min-width:840px) {
        .search-icon {
            position: absolute;
            left: 16%;
        }
    }
    
    @media (min-width:860px) {
        .search-icon {
            position: absolute;
            left: 19%;
        }
    }
    
    @media (min-width:960px) {
        .search-icon {
            position: absolute;
            left: 20%;
        }
        .support-sct3 {
            display: flex;
            flex-direction: row;
            gap: 10px;
            padding-bottom: 10px;
        }
    }
    
    @media (min-width:996px) {
        .search-icon {
            position: absolute;
            left: 22%;
        }
        .support-sct1 {
            z-index: 1;
            position: absolute;
        }
        .support-sct2 {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 10px;
            z-index: 10;
            top: 180px;
            position: relative;
        }
        .support-sct3 {
            margin-top: 200px;
            /* khoảng cách với section 2 */
            background-size: 35%;
        }
        .sp-card {
            width: 450px;
        }
    }
    
    @media (min-width:1024px) {
        .search-icon {
            position: absolute;
            left: 24%;
        }
    }
    
    @media (min-width:1200px) {
        .search-icon {
            position: absolute;
            left: 27%;
        }
    }
    
    @media (min-width:1300px) {
        .search-icon {
            position: absolute;
            left: 30%;
        }
    }
    
    @media (min-width:1400px) {
        .search-icon {
            position: absolute;
            left: 32%;
        }
    }
    
    @media (min-width:1600px) {
        .search-icon {
            position: absolute;
            left: 34%;
        }
    }
    
    @media (min-width:1900px) {
        .search-icon {
            position: absolute;
            left: 38%;
        }
    }
    
    @media (min-width:2300px) {
        .search-icon {
            position: absolute;
            left: 41%;
        }
    }
    
    @media (min-width:4000px) {
        .search-icon {
            position: absolute;
            left: 44%;
        }
    }
    
    @media (min-width:5000px) {
        .search-icon {
            position: absolute;
            left: 45.5%;
        }
    }